{% extends "base.html" %}

{% block content %}
    <h1>Registration</h1>

    <div class="auth_form">
        <form role="form" method="POST">
          {{ xsrf_form_html()|safe }}

          {% if form.errors['whole_form'] %}
            <div class="alert alert-block alert-danger">
                <ul>
                    {% for err in form.errors['whole_form'] %}
                        <li>{{ err }}</li>
                    {% endfor %}
                </ul>
            </div>
          {% endif %}


          <div class="form-group{% if form.email.errors %} has-error{% endif %}">
            {{ form.email.label(class="control-label requiredField") }}
            {{ form.email(class="form-control", placeholder="Enter email") }}
            {% for err in form.email.errors %}
                <p class="help-block"><strong>{{ err }}</strong></p>
            {% endfor %}
          </div>

          <div class="form-group{% if form.password.errors %} has-error{% endif %}">
            {{ form.password.label(class="control-label requiredField") }}
            {{ form.password(class="form-control", placeholder="Password") }}
            {% for err in form.password.errors %}
                <p class="help-block"><strong>{{ err }}</strong></p>
            {% endfor %}
          </div>

          <div class="form-group{% if form.password2.errors %} has-error{% endif %}">
            {{ form.password2.label(class="control-label requiredField") }}
            {{ form.password2(class="form-control", placeholder="Repeat password") }}
            {% for err in form.password2.errors %}
                <p class="help-block"><strong>{{ err }}</strong></p>
            {% endfor %}
          </div>
          <button type="submit" class="btn btn-success">Submit</button>
        </form>
    </div>
{% endblock content %}

