.auth_form {
    max-width: 400px;
}

.post_form {
    max-width: 750px;
}

.post_form textarea {
    min-height: 150px;  
}

.reg_btn_anim {
    position: absolute;
    top: 17px;
    left: 30px;
    opacity: 0.4;
}

.reg_post_anim {
    margin-right: 10px;
}

.code_mongo {
    margin-left: 30px;
    color: #2916FD;
}

.code_mongo p {
    margin: 0px;
}
