{% extends "base.html" %}

{% block content %}
    <h1>Write post</h1>

    <div class="post_form">
        <form role="form" method="POST">
        {{ xsrf_form_html()|safe }}

        {% include "partials/forms/non_field_errors.html" %}

        {% with field = form.title, placeholder = "Title" %}
        {% include "partials/forms/field.html" %}
        {% endwith %}

        {% with field = form.content, placeholder = "Content" %}
        {% include "partials/forms/field.html" %}
        {% endwith %}

          <button type="submit" class="btn btn-success">Publish</button>
        </form>
    </div>
{% endblock content %}
